html {
	background-color : #E6E6FA;
	font-size : 14px;
	width : 100vw;
}

h1 {font-size : 3em;}
h2 {font-size : 2em;}

#page {
	margin : 30px 200px 30px 200px;
	border : 2px black solid;
	background-color : #F8F8FF;
}

.entete {text-align : center;}

#aboutme {margin-left : 20px; /*marge gauche du bloc décalée*/} 
table, th, td {border : 1px solid black; /*ajout de bordures pour chaque cellule du tableau*/}

#devoirs {margin-left : 20px;}

footer {
	text-align : center;
	background-color : #F0F8FF;
	}
